body, ul, li{
    margin: 0px;
    padding: 0px;
}
#caixamenu{
    width: 150px;
    height: 300px;
    background-color: #000000;
     background-image: url(../imagens007/aviao1.jpg);
}
#menu{
    width: 150px;
    height: 300px;
}
.menuItem{
    width: 150px;
    height: 35;
    list-style: none;
    font-family: serif;
    /*troca a cor só da letra*/
    color: aqua;
    font-size: 1.5em;
    text-align: center;
    padding-top:15px;

 /*permite fazer alteraçoes no posicionar o mause no elemento*/
}
.menuItem:hover{
    background-color: chartreuse;
    color: #ffffff;
    /*permite alterar o tipo de cursor*/
    cursor: pointer;
    /* da um delei na hr de trocar de cor */
    transition: 1s;
}
.submenu{
    width: 150px;
    height: 300px;
    background-color: #000000;
    margin-left: 150px;
    margin-top: -40px;
    
    /* permite ocultar o elemento*/
    display: none;
    
}
.submenuItem{
    width: 150px;
    height: 50px;
    background-color: aquamarine
    font-family: serif;
    font-size: 1.5em;
    text-align: center;
    list-style: none;
    color: aquamarine;
}
.submenuItem:hover{
   background-color: chartreuse;
    color: #ffffff; 
    transition: 1s;
    cursor: pointer;
}
/* permite acionar o elemento submenu ao passar o mouse sobre o menuItem*/
.menuItem:hover > #submenu{
    
/* permite visualizar o elemento novamente*/
    display: block;
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}