#tabela{
    width: 700px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    border: 2em #ffffff;
    background-color: #e3e3e3;
}
#uu  {
      
    width: 700px;
    height: 112px;
     border: 0em #000000;
    text-align: center;
    
}

#uu tr {
      
    width: 700px;
    height: 133px;
     border: 0em #000000;
    text-align: center;
    
}

#hhh{
   text-align: center;
}
    
.hhr{
    text-align: center;
    font-weight:700;
}
